<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [5]:
# create empty list, name it 'a'
a = []

In [15]:
# print the value of a
print(a)

[]

In [14]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [11]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [12]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [16]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [17]:
temp = languages[1]

Print the value of temp and type(temp)

In [18]:

print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [19]:

languages.append('Java')

Remove the element 42 from the list and print the list

In [24]:
languages.append('Java')
languages.remove(42)
print(languages)

ValueError: list.remove(x): x not in list

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [25]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [26]:

colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [27]:
colors.insert(1, 'Orange')

Print the list

In [28]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [30]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [32]:
colors.extend(colors2)

Print len of colors and its elements

In [33]:

print(len(colors))
print(colors)

9
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue', 'Grey', 'Sky Blue']

Sort the list and print it.

In [34]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Grey', 'Orange', 'Red', 'Sky Blue', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [35]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [36]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [37]:

words_lower = []
for w in words:
    words_lower.append(w.lower())
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [38]:
if 'country' in words_lower:
    print("True")
else:
    print("False")

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [39]:

words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [42]:
x4 = words_lower[0:4]

In [43]:
print (x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [44]:

joined_string = " ".join(x4)
print(joined_string)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [45]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [46]:


print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [47]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [48]:
print(stud_grades_set)

{'A', 'F', 'B', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [49]:


print(type(stud_grades), stud_grades)
print(type(stud_grades_set), stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'A', 'F', 'B', 'C'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [50]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [51]:
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'F', 'G', 'B', 'C'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [52]:

stud_grades_set.remove('F')
print(stud_grades_set)

{'A', 'G', 'B', 'C'}

Print the elements and the length of stud_grades_set

In [53]:

print(len(stud_grades_set))

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [54]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [55]:
print(colors, fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [56]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set, fruits_set)

{'red', 'orange', 'blue'} {'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [57]:
print(colors_set.union(fruits_set))

{'red', 'grapes', 'apples', 'orange', 'blue'}

Find the intersection of both the sets

In [58]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [59]:
print(fruits_set.difference(colors_set))

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [60]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [61]:

for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [62]:
temp[0] = 11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [63]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [64]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [65]:

temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [66]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [67]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [68]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [69]:
cities = (city, city2)

Print cities

In [70]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [71]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [72]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [73]:
d = {"actor":"amir", "animal":"cat", "earth":2, "list":[23,32,12]}

Print the value of d[0]

In [75]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [76]:

actor = d['actor']
print(actor)

amir

Print the type of actor

In [77]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [78]:
List = d['list']
print(List)

[23, 32, 12]

Print the type of List.

In [79]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [80]:
d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [81]:
d.update(d1)

print d

In [82]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [83]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [84]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [86]:
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [87]:
sent = "Coronavirus Caused Lockdowns Around The World."

char_count = {}

In [88]:
for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}